@import url("https://use.typekit.net/cbg8luc.css family=interstate-regular");

.frame-5 {
	align-items: flex-start;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	height: 900px;
	padding: 19px 0;
	width: 1440px;
}

.frame-5 .header {
	align-items: center;
	display: flex;
	margin-left: 27px;
	min-width: 557px;
}

.frame-5 .logo-image {
	height: 116px;
	width: 116px;
}

.frame-5 .title {
	color: #0F228C;
	font-family: var(--font-family-adobe_garamond_pro-regular);
	font-size: 47px;
	font-weight: 400;
	letter-spacing: 0;
	margin-left: 16px;
	min-height: 56px;
	min-width: 425px; 
}

.frame-5 .overlap-group1 {
	height: 748px;
	margin-top: 17px;
	position: relative;
	width: 1440px;
}

.frame-5 .background {
	align-items: flex-start;
	display: flex;
	height: 748px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1440px;
}

.frame-5 .overlap-group {
	height: 748px;
	margin-top: -0.5px;
	position: relative;
	width: 1440px;
}

.frame-5 .line-1 {
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1440px;
}

.frame-5 .background-image {
	height: 748px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 1440px;
}

.frame-5 .sign-in-area {
	align-items: center;
	background-color: #0e218c78;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 450px;
	left: 406px;
	overflow: hidden;
	padding: 57px 0;
	position: absolute;
	top: 82px;
	width: 615px;
}

.frame-5 .title-email {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 188px;
	width: 485px;
}

.frame-5 .alumni-database {
	color: #FFFFFF;
	font-family: "interstate-regular";
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 0;
	min-height: 21px;
	text-align: center;
	width: 442px;
}

.frame-5 .frame-4 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-top: 45px;
	min-height: 95px;
	width: 485px;
}

.frame-5 .email-address {
	letter-spacing: 0;
	min-height: 25px;
	color: #FFFFFF;
	font-family: "interstate-regular";
	font-size: 20px;
	font-weight: 400;
}

.frame-5 .rectangle {
	background-color: #FFFFFF;
	border-radius: 5px;
	height: 59px;
	margin-top: 11px;
	width: 485px;
}

.frame-5 .password {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-top: 36px;
	min-height: 126px;
	width: 485px;
}

.frame-5 .password-1 {
	letter-spacing: 0;
	min-height: 25px;
	color: #FFFFFF;
	font-family: "interstate-regular";
	font-size: 20px;
	font-weight: 400;
}

.frame-5 .text-1 {
	color: #FFFFFF;
	font-family: "interstate-regular";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
	margin-top: 11px;
	min-height: 20px;
	text-decoration: underline;
}

.frame-5 .sign-in-button {
	align-items: center;
	background-color: #0F228C;
	font-family: "interstate-regular";
	font-size: 20px;
	color: #FFFFFF;
	border: solid;
	border-radius: 5px;
	border-color: black;
	border-width: 0.5px;
	display: flex;
	height: 65px;
	margin-top: 36px;
	min-width: 40px;
	padding: 0 99px;
}

.frame-5 .sign-in {
	color: #FFFFFF;
	font-family: "interstate-regular";
	letter-spacing: 0;
	min-height: 25px;
	min-width: 83px;

}

@font-face {
	font-family: "Interstate-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.animaapp.com/Interstate-Regular") format("opentype");
}

.screen a {
	display: contents;
	text-decoration: none;
}

.container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
}




